<div class="collapse navbar-collapse bg-warning" id = "main-nav-collapse" >
  <a class="navbar-brand">NearBuy</a>
  <div class="nav navbar-nav navbar-left">
    <%= link_to "Home", goods_path, class:"nav-link btn btn-primary navbar-btn" %>
  </div>
  <div class="nav navbar-nav navbar-right" style="padding-right: 10px">
    <% if user_signed_in? %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"nav-link btn btn-primary navbar-btn" %>
      <%= link_to "Profile", user_profile_path(:username => current_user.username), class:"nav-link btn btn-primary navbar-btn" %>
      <%= link_to "Goods List", user_goods_list_path(), class:"nav-link btn btn-primary navbar-btn" %>
    <% else %>
      <%= link_to "Sign Up", new_user_registration_path, class:"nav-link btn btn-primary navbar-btn" %>
      <%= link_to "Sign In", new_user_session_path, class:"nav-link btn btn-primary navbar-btn" %>
    <% end %>
  </div>
</div> <!-- /.navbar-collapse -->