<div class="row-fluid">
    <div class="col-md-6">
        <% if user_signed_in? %>
        <%= link_to new_good_path do %>
        <button class="btn btn-primary">Add new goods</button>
        <% end %>
        <hr>
        <% end %>

        <ul class="list-group" id="myList">

            <% @goods.each do |good| %>
            <li class="list-group-item">
                <div class="row-fluid">
                    <h2><%= link_to good.name, good %></h2>
                    <p><%= good.address %></p>
                  <%= link_to "Edit", edit_good_path(good), class: "btn btn-default"  %>
                  <%= link_to "Delete", user_delete_good_path(id: good.id), class: "btn btn-default", method: :delete  %>
                </div>
            </li>
            <% end %>
        </ul>

    </div>
</div>