<div class="row-fluid">
  <div class="col-md-6">
    <div id="map" style='width: 100%; height: 600px;'></div>
  </div>
  <div class="col-md-6">
    <%# if user_signed_in? %>
    <%#= link_to new_good_path do %>
    <!--        <button class="btn btn-primary">Add new goods</button>-->
    <%# end %>
    <!--      <hr>-->
    <%# end %>

    <button class="" id="loc" onclick="explore_mode()">
      Explore Mode
    </button>

    <% if params[:latitude].nil? or params[:longitude].nil? %>
      <button class="<%= params[:sort] == "name" ? "hilite bg-warning" : "" %>">
        <%= link_to "Sort By Name", goods_path(:sort => "name"), :id => 'goods_name_header' %>
      </button>

      <button class="<%= params[:sort] == "update_time" ? "hilite bg-warning" : "" %>">
        <%= link_to "Sort By Time", goods_path(:sort => "update_time"), :id => 'update_time_header' %>
      </button>

      <button class="">
        <%= link_to "Clear Sort Status", goods_path(:clear => "clear"), :id => 'clear_order_button' %>
      </button>
    <% else %>
      <button class="">
        <%= link_to "Exit Explore Mode", goods_path, :id => 'exit_explore' %>
      </button>
    <% end %>


    <p>Search for specific items:</p>  
    <input class="form-control" id="myInput" type="text" placeholder="Item Name...">
    <br>
    <div id="ulContainer">
      <ul class="list-group" id="myList">
      <%for i in 0..@goods.length-1 do %>
        <%good = @goods[i]%>
        <li class="list-group-item" style="<%= i>3 ? "display: None" : ""%>">
          <div class="row-fluid">
            <h2><%= link_to good.name, good %></h2>
            <p><%= good.address %></p>
          </div>
        </li>
      <% end %>
      </ul>
    </div>
    <div style="text-align:center">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center" id = "paginationId">
          <% for i in 1..(@goods.length/4.0).ceil do%>
            <li class="page-item" onclick="changePage(<%= i%>)"><a class="page-link" href="#"><%= i%></a></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</div>



<% content_for(:after_js) do %>
  <script type="text/javascript">
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
              handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
              handler.getMap().setZoom(14);
          }
      });

      // let map, infoWindow;
      // infoWindow = new google.maps.InfoWindow();
      //
      // // const locationButton = document.createElement("button");
      // // var MyDiv =document.getElementById("loc");
      // const locationButton = document.getElementById("loc");
      // var curPos;
      //
      // locationButton.textContent = "Explore";
      // locationButton.classList.add("custom-map-control-button");
      //
      // locationButton.addEventListener("click", () => {
      //     // Try HTML5 geolocation.
      //     if (navigator.geolocation) {
      //         navigator.geolocation.getCurrentPosition(
      //             (position) => {
      //                 curPos = {
      //                     lat: position.coords.latitude,
      //                     lng: position.coords.longitude,
      //                 };
      //
      //                 // infoWindow.setPosition(pos);
      //                 // infoWindow.setContent("Location found.");
      //                 // infoWindow.open(map);
      //                 // map.setCenter(pos);
      //                 console.log(curPos)
      //             },
      //             () => {
      //                 handleLocationError(true, infoWindow, handler.getCenter());
      //             }
      //         );
      //     } else {
      //         // Browser doesn't support Geolocation
      //         handleLocationError(false, infoWindow, handler.getCenter());
      //     }
      // });

      // MyDiv.appendChild(locationButton);

      // function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      //     infoWindow.setPosition(pos);
      //     infoWindow.setContent(
      //         browserHasGeolocation
      //             ? "Error: The Geolocation service failed."
      //             : "Error: Your browser doesn't support geolocation."
      //     );
      //     // infoWindow.open(map);
      // }


  </script>

  <script>
      function explore_mode() {
          let curPos;

          if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(
                  (position) => {
                      curPos = {
                          lat: position.coords.latitude,
                          lng: position.coords.longitude,
                      };
                      console.log(curPos)
                      window.location.href = '/goods?latitude=' + curPos.lat + '&longitude=' + curPos.lng
                  }
              );
          }
      }
  </script>


  <script>
    
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {                  

        var value = $(this).val().toLowerCase();

        $('#myList').empty()

        <%for i in 0..@goods.length-1 do %>
          <%good = @goods[i]%>
          var node_a = document.createElement('a')
          node_a.href = "/goods/<%= good.id%>"
          node_a.innerHTML = "<%=good.name%>"

          var node_h2 = document.createElement('h2')
          node_h2.appendChild(node_a)

          var node_p = document.createElement('p')
          node_p.innerHTML = "<%=good.address%>"

          var node_div = document.createElement('div')
          node_div.classList.add("row-fluid")
          node_div.appendChild(node_h2)
          node_div.appendChild(node_p)

          var node_li = document.createElement('li')
          node_li.classList.add("list-group-item")
          node_li.appendChild(node_div)

          document.getElementById("myList").appendChild(node_li)
        <% end %>

        $('#myList').children().each(function () {
            $(this).show();
        });


        $('#myList').children().each(function () {
            if ($(this).find('h2:first').text().toLowerCase().indexOf(value) <= -1) {
              $(this).remove();
            }
        });

        let lst = document.getElementById("myList")

        for(var i=0, len = lst.childElementCount ; i < len; ++i){
            if (i<4) {
              lst.children[i].style.display = null
            } else {
              lst.children[i].style.display = "none"
            }
        }

        $('#paginationId').empty()
        

        let pag = document.getElementById("paginationId")
        for(var i=0; i<Math.ceil(lst.childElementCount/4.0); ++i) {
            var node_a = document.createElement('a')
            node_a.classList.add("page-link")
            node_a.href = "#"
            node_a.innerHTML = (i+1).toString()
            var node_li = document.createElement('li')
            node_li.classList.add("page-item")
            node_li.setAttribute("onclick","changePage("+(i+1).toString()+")");
            node_li.appendChild(node_a)
            pag.appendChild(node_li)
        }
      });
    });
  </script>  
<% end %>


<script>
    function changePage(page) {
      let lst = document.getElementById("myList")

      var children = lst.children;
      for (var i = 0; i < children.length; i++) {
        var tableChild = children[i];

        if (i >= 4*(page-1) && i <= 4*page-1) {
            tableChild.style.display = null;
        } else {
            tableChild.style.display = "none";
        }
      }
    }
</script>
