<div class="row-fluid">
  <div class="col-md-6">
    <div id="map" style='width: 100%; height: 600px;'></div>
  </div>
  <div class="col-md-6">
    <%# if user_signed_in? %>
      <%#= link_to new_good_path do %>
<!--        <button class="btn btn-primary">Add new goods</button>-->
      <%# end %>
<!--      <hr>-->
    <%# end %>

    

    <button class="<%= params[:sort] == "name" ? "hilite bg-warning" : "" %>">
      <%= link_to "Goods Name", goods_path(:sort => "name"), :id => 'goods_name_header' %>
    </button>

    <button class="<%= params[:sort] == "update_time" ? "hilite bg-warning" : "" %>">
      <%= link_to "Update Time", goods_path(:sort => "update_time"), :id => 'update_time_header' %>
    </button>

    <button class="">
      <%= link_to "Clear Sort Status", goods_path(:clear => "clear"), :id => 'clear_order_button' %>
    </button>

    <p>Search for specific items:</p>  
    <input class="form-control" id="myInput" type="text" placeholder="Item Name...">
    <br>

    <ul class="list-group" id="myList">
      
      <% @goods.each do |good| %>
        <li class="list-group-item">
          <div class="row-fluid">
            <h2><%= link_to good.name, good %></h2>
            <p><%= good.address %></p>
          </div>
        </li>
      <% end %>
    </ul>

  </div>
</div>

<% content_for(:after_js) do %>
  <script type="text/javascript">
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function(){
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  </script>
  <script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myList li").filter(function() {
          $(this).toggle($(this).find('h2:first').text().toLowerCase().indexOf(value) > -1)
        });
        
      });
    });
  </script>
  
<% end %>
